/* CSS Selector 1: Type Selector */
html {
  height: 100%;

}

body {
  font-family: "Roboto";
  font-weight: 300;
  position: relative;
  bottom: 0;
  min-height: 100%;
  padding-bottom: 302px;
  text-align: justify;
}
h4.text {
  font-weight: normal;
  text-align: center;
}
/* CSS Selector 2: Grouping Selector */
td, th{
  text-align: center;
  padding-left: 5px;
  padding-right: : 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}
small {
  font-size: 16px;
  align-self: center;
  margin-left: 10px;
  display: none;
}
textarea {
  border: none;
}
input {
  border: none;
}
footer {
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0 0 0 0;
  bottom:0;
  padding:10px;
  font-size: 16px;
}
/* CSS Selector 3: Class Selector */
.table{
  width: 30rem;
}
.mobile-heading {
  display: none;
}
.widescreen-heading {
  display: flex;
}
.content-paras {
  margin: 30px 30px;
}
.heading {
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.form-design {
  line-height: 24px;
  color: #495057;
  margin: 0 0 16px 0;
  border-bottom: 1px solid #757575;
}
.tile {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0px 20px 0;
  padding: 25px 0;
  color: grey;
}
.tile h5 {
  color: #000;
}
/* CSS Selector 4: Pseudo Class Selector */
.tile:hover {
  box-shadow: rgba(0,0,0,.5) 0 0 6px 0;
}
/* CSS Selector 5: ID Selector */
#Introduction, #Body{
  border-radius: 5px;
  margin: 16px 32px;
}
#main-body {
  margin-bottom: 50px;
}
#headline-mobile {
font-family: 'Raleway', sans-serif;
  display: none;
}
#headline-text-mobile {
  display: none;
}
#social-media-icons {
  z-index: 1;
  border: 1px solid white;
}
#social-media-heading {
  font-family: "Roboto";
  font-weight: 300;
}
}

@font-face {
font-family: 'Raleway', sans-serif;
}

/* ----------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 760px){
  /* For mobiles: */
  body {
    padding-bottom: 560px;
  }
  small {
    display: flex;
  }
  kbd {
    font-weight: lighter;
    padding : 1px 4px 3px;
  }
  table {
    width: 80%;
  }
  .navbar-expand-sm{
    display: block;
  }
  .navbar-nav {
    display: flex;
  }
  .mobile-heading {
    display: flex;
  }
  .widescreen-heading {
    display: none;
  }
  .table {
    width: 80%;
  }
  .arrow {
    display: none;
  }
  #Content {
    order:2;
    margin-left: 20px;
    margin-right: 20px;

  }
  #Summary {
    order:1;
    margin-left: 20px;
    margin-right: 20px;
  }
  #headline-mobile {
    display: block;
    font-weight: 400;
  }
  #headline-widescreen {
    display: none;
  }
  #headline-text {
    display: none;
  }
  #headline-text-mobile {
    display: block;
    font-weight: 300;
  }
}
